@import url(https://fonts.googleapis.com/css?family=Roboto:400,300,500);

*:focus {
	outline: none;
}

body {
	margin: 0;
	padding: 0;
	background: #DDD;
	font-size: 16px;
	color: #222;
	font-family: 'Roboto', sans-serif;
	font-weight: 300;
}

#login-box {
	position: relative;
	margin: auto;
	width: 600px;
	height: 500px;
	background: #FFF;
	border-radius: 2px;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
}

.left {
	position: absolute;
	top: 0;
	left: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
}

h1 {
	margin: 0 0 20px 0;
	font-weight: 400;
	font-size: 30px;
	text-align: center;
}
h2 {
	margin: 0 0 20px 0;
	font-weight: 200;
	font-size: 25px;
	text-align: center;
}

input[type="text"], input[type="date"], input[type="password"] {
	
	display: block;
	box-sizing: border-box;
	margin-bottom: 20px;
	padding: 4px;
	width: 220px;
	height: 32px;
	border: none;
	border-bottom: 1px solid #AAA;
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-size: 15px;
	transition: 0.2s ease;
}

input[type="text"]:focus, input[type="date"]:focus, input[type="password"]:focus
	{
	border-bottom: 2px solid #1c98cc;
	color: #1987b6;
	transition: 0.2s ease;
}

input[type="submit"] {
	margin-top: 28px;
	width: 120px;
	height: 32px;
	background: #0066c0;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.1s ease;
	cursor: pointer;
}
input[type="submit"].logout {
	margin-top: 28px;
	width: 120px;
	height: 32px;
	background: #1d98cd;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	text-transform: uppercase;
	transition: 0.1s ease;
	cursor: pointer;
}

input[type="submit"]:hover, input[type="submit"]:focus {
	opacity: 0.8;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}

input[type="submit"]:active {
	opacity: 1;
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	transition: 0.1s ease;
}

a:link, a:visited {
	margin-right: 10px;
	width: 120px;
	height: 32px;
	background: #004b8d;;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: 0.1s ease;
	cursor: pointer;
}

.or {
	position: absolute;
	top: 180px;
	left: 280px;
	width: 40px;
	height: 40px;
	background: #DDD;
	border-radius: 50%;
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	line-height: 40px;
	text-align: center;
}

.right {
	position: absolute;
	top: 0;
	right: 0;
	box-sizing: border-box;
	padding: 40px;
	width: 300px;
	height: 400px;
	background: url('https://goo.gl/YbktSj');
	background-size: cover;
	background-position: center;
	border-radius: 0 2px 2px 0;
}

.right .loginwith {
	display: block;
	margin-bottom: 40px;
	font-size: 28px;
	color: #8e4232;
	text-align: center;
}

button.social-signin:hover, button.social-signin:focus {
	box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
	transition: 0.2s ease;
}

button.social-signin:active {
	box-shadow: 0 1px 2px rgba(0, 0, 0, 0.4);
	transition: 0.2s ease;
}

.right .facebook {
	margin-bottom: 20px;
	width: 220px;
	height: 36px;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
	background: #32508E;
}

.right .twitter {
	width: 220px;
	height: 36px;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
	background: #55ACEE;
}

.right .google {
	width: 220px;
	height: 36px;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
	background: #DD4B39;
}


#bloki {
	font-family: 'Roboto', sans-serif;
	border-collapse: collapse;
	width: 100%;
}

#bloki td, #bloki th {
	border: 1px solid #ddd;
	padding: 8px;
}

#bloki tr:nth-child(even) {
	background-color: #f2f2f2;
}

#bloki tr:hover {
	background-color: white;
}

#bloki th {
	font-family: 'Roboto', sans-serif;
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #5d8aa8;
	color: white;
}

a:hover {
	background-color: #0066c0;
	border: none;
	color: white;
	padding: 5px 8px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

button .logout{
	background-color: #0066c0;
	border: none;
	color: white;
	padding: 5px 8px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}
a:active {
	border: none;
	color: white;
	padding: 5px 8px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

a:link {
	background-color: #0066c0;
	border: none;
	color: white;
	padding: 5px 8px;
	text-decoration: none;
	margin: 4px 2px;
	cursor: pointer;
}

input[type=button] {
	background-color: #1676a0;
	width: 220px;
	height: 36px;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
}

hr {
	height: 12px;
	border: 0;
	box-shadow: inset 0 12px 12px -12px rgba(0, 0, 0, 0.5);
}
.logout{
	width: 220px;
	height: 36px;
	border: none;
	border-radius: 2px;
	color: #FFF;
	font-family: 'Roboto', sans-serif;
	font-weight: 500;
	transition: 0.2s ease;
	cursor: pointer;
	background: #DD4B39;
}
